<div class="container">
	<% @notes.each do |note| %>
		<div class="row justify-content-md-center">
			<div class="col-8 mt-4">
				<div class="card text-center shadow mb-5 bg-white rounded">
				  <div class="card-header font-italic">
				    <% if note.user %>
				    	Note created by <%= current_user.full_name %>
				    <% end %>
				    <% if note.categories.any? %>
              <div class="mt-2">Categories: <%= render note.categories %></div> 
            <% end %>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title"><%= link_to note.title, note_path(note), class: "text-success" %></h5>
				    <p class="card-text"><%= note.body %></p>
				    <%= link_to "View", note_path(note), class: "btn btn-outline-success" %>
				    <%= link_to "Edit", edit_note_path(note), class: "btn btn-outline-info" %>
            <%= link_to "Delete", note_path(note), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
				  </div>
				  <div class="card-footer text-light">
				    <small>Created <%= time_ago_in_words(note.created_at) %> ago, edited <%= time_ago_in_words(note.updated_at) %> ago</small>
				  </div>
				</div>
			</div>
		</div>
	<% end %>
</div>
