<h2 class="text-center mt-4"><%= @note.title %></h2>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          Note created by <%= current_user.full_name if @note.user %>
          <% if @note.categories.any? %>
            <div class="mt-2"><%= render @note.categories %></div> 
          <% end %>
        </div>
        <div class="card-body">
          <div class="card-text text-left"><%= simple_format(@note.body) %></div>
          <% if logged_in? && @note.user == current_user %>
          <%= link_to "Edit", edit_note_path(@note), class: "btn btn-outline-info" %>
          <%= link_to "Delete", note_path(@note), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
        </div>
        <div class="card-footer text-light">
          <small>Created <%= time_ago_in_words(@note.created_at) %> ago, 
          edited <%= time_ago_in_words(@note.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  </div>
</div>
